# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore files that are already tracked:    git rm --cached <file>/<folder>

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
./eslintcache
/idea
/backend/__pycache__

npm-debug.log*
yarn-debug.log*
yarn-error.log*

backend/old_firebase/smartcontainerdemo-a97e4-firebase-adminsdk-khgwn-f0206e819a.json
**/__pycache__
**/.idea
**/.firebase
.eslintcache
/backend/utilities/config.ini
/backend/QED.log
.firebase/hosting.YnVpbGQ.cache