#inventory_page{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#inventory_page_container{
    margin: auto;
    margin-top: 0;
}

.page_title{
    margin: auto;
    margin-top: 0;
    font-family: poppins;
    font-size: 30px;
    color: black;
}

.rs-modal-content{
    background-color: whitesmoke;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 50%;
}
.rs-modal-wrapper{
    display: flex;
    align-items: center;
}
.rs-input-number-btn-group-vertical{
    display: none;
}

