.majordomoLogo {
    height: 45px;
    width: 150px;
    margin: 0 auto 0 auto;
    height: fit-content;
}

.rs-btn .rs-btn-subtle .rs-dropdown-toggle {
    width: 100%;
}

.dropdown_title {
    background-color: #F9F9F9 !important;
    color: black;
}

.title_container {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.side_nav_container{
        width: 90%;
        display: flex;
        margin: auto;   
        flex-direction: column;  
}
.setting_name {
    font-weight: bold;
}

.setting_value {
    margin-right: 50px;
}
.settings_container{
    font-size: 14px;
}

.chosen_option {
    font-weight: "bolder";
    color: "green"
}
.profile_pic{
    width:100px;
    margin: auto;
    display: flex;
}

.settings_page_container{
    display: flex;
    flex-direction: column;
}

.profile_details{
    height:150px;
}

.settings_issues{
    margin-bottom: 30px;
}

.notification_system_toggler{
    padding: 15px 40px 15px 56px;
}