
.item_squere{
    height: 110px;
    width: 130px;
    background-color: white;
    cursor: pointer;
    box-shadow:  0 4px 8px 0 #00000029;
    border:1px solid  #00000029;
    border-radius: 0 0 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
    color: #3B3939;
    font-family: "Poppins semibold";
}

.full_inventory_alert_symbol{
    align-self: flex-end;
    margin-right: 3px;
    margin-top: 1px;
    height: 20px;
}
/* .rs-drawer-dialog{
    position: relative;
    max-width: 450px;
    max-height: 70%;
    margin: auto;
    margin-bottom: 0;
} */
.rs-drawer-content{
    border-radius: 15px 15px 0 0;
    

}

.weight_date{
    display: flex;
    justify-content: center;
    color: #3B3939;
}

.last_registred{
    color: #707070;
}

.item_container{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    height: 160px;
    overflow: hidden;
    border-radius: 8px;
   
}

.item_squere_header{
    text-align: center;
    color: white;
    height: 30px;
    width: 130px;
}

.items_div{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.add_to_order{
    margin-top: 10px;
    color: #060606;
    display: flex;
    flex-direction: column;
}

.add_to_cart_modal_container{
    width: 100%;
    max-height: 100%;
}

