
.item_squere{
    height: 100px;
    width: 100px;
    background-color: white;
    cursor: pointer;
    
    box-shadow:  0 4px 8px 0 #00000054;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
}
.item_container{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 110px;
    overflow: hidden;
}

#bottom-bar{
    position: fixed;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(194, 79, 79); 
    bottom: 0%;
    width: 100%;
}

 

.notification_container{
    height: 55px;
    width: 90%;
    margin: auto;
    display: flex;
    margin: 5px;
    /* align-items: baseline; */
    justify-content: space-between;
    background-color: #F9F9F9;
    border-radius: 12px;
    
    
}
.notification_block{
    height:100%;
    width: 300px;
    margin: auto;
    display: flex;
    align-content: space-between;
    flex-flow: column;
    /* overflow-y:scroll ; */
   
    
}
.notification_image{
    max-height: 50%;
    width: 50%;
    margin: auto;

}
.notification_symbol{
    height: 100%;
    border-radius: 0 12px 12px 0;
    width: 15%;
}
.center_items{
    display: flex;
    align-items: center;
}


.right_not_symbol{
    width: 20%;
}


.redArea{
background-color: #EB6868;

}
.yellowArea{
background-color: #F1C033;

}
.greenArea{
background-color: #6FB91C;
}