
.item_squere{
    height: 100px;
    width: 100px;
    background-color: white;
    cursor: pointer;
    
    box-shadow:  0 4px 8px 0 #00000054;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-between;
}
.item_container{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#bottom-bar{
    /* position: fixed; */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(194, 79, 79); 
    bottom: 0%;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.notification_container{
    height: 100px;
    width: 90%;
    margin: auto;
    display: flex;
    padding: 5px;
    /* align-items: baseline; */
    justify-content: space-between;
    
    
}
.notification_block{
    height:100px;
    width: 20%;
    margin: auto;
    display: flex;
    align-content: space-between;
    flex-flow: column;
    background-color: grey;
    
}
.notification_image{
    height: 50px;
}

#left_img{
    float: left;
}


#right_img{
    float: right;
}
.redArea{
background-color: lightcoral;

}
.yellowArea{
background-color: yellow;

}
.greenArea{
background-color: green;
}