.search{
    width: 20%;
    margin-bottom: 10;
    margin: auto;
}
.category_drawer_container{
    width: fit-content;
}

.url_like {
    color: #0a5dc2; 
  }
  
  .url_like:hover {
    text-decoration: underline;
  }
  
  .url_like:active {
    color: black;
  }
  
