

.category_drawer_container {
    width: fit-content;
    flex-grow: 2;
    /* display: flex;
    justify-content: center; */
}

 .home_page_drawer {
    width: fit-content;
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.rs-drawer-header {
    width: 100%;
    padding-right: unset;
    margin: unset;
    height: 60px;

    
}
.drawer_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sub_drawer_header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    


.close_btn_div{
    float: left;
    font-size: 100%;
    color: #FF4141;
    position: relative;
    width: 19px;
    height: 19px;
    margin: auto 0 auto 0;
}
/* .rs-drawer-header .rs-drawer-header-close {
    
    
} */

.drawer_title {
    text-align: center;
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    opacity: 1;
    text-align: center;
    font-size: 20px;
    max-width: 70%;
    width: fit-content;
}

.h4{
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.drawer_title_border {
    width: 100%;
    bottom: 0;
}

.search {
    width: 100%;
    margin-bottom: 10;
    margin: auto;
    margin-bottom: 15px;
}
.url_like {
    color: #0a5dc2;
}

.url_like:hover {
    text-decoration: underline;
}

.url_like:active {
    color: black;
}

.inventory_clicker{
    width: fit-content;
    cursor:pointer;
}
/* .notification_toggler{
    width: fit-content;
} */
.info_cube{
    width: 100%;
    margin: 5px;
    
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 6px 6px 0 #00000029;

}
.cube_container{
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    margin-top: 10px;
}
.chart_container{
    width: 90%;
    background-color: rgba(249, 249, 249, 1);
    margin: auto;
    box-shadow: rgba(0, 0, 0, 1);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 6px 6px 0 #00000029;
}
.usage_chart{
    height: 40%!important;
    width: 100%!important;
    max-height: 269px;
    max-width: 538px;
    margin: auto;
    border-radius:0 0 6px 6px;
}

.chart_header{
    width: 100%;
    margin: auto;
    background-color: rgba(115, 213, 4, 1);
    border-radius: 6px 6px 0 0;
    
}
.rs-dropdown-menu > .rs-dropdown-item-active > .rs-dropdown-item-content{
    color:rgba(253, 94, 83, 1);
}
.rs-dropdown-menu > .rs-dropdown-item-active > .rs-dropdown-item-content:hover, .rs-dropdown-menu > .rs-dropdown-item-active > .rs-dropdown-item-content:focus{
    color:rgba(115, 213, 4, 1);
}

.rs-dropdown .rs-dropdown-placement-bottom-start:hover{
    background-color: rgba(0, 0, 0, 0.212);


}
.rs-btn.rs-btn-subtle.rs-dropdown-toggle{
    color: white;
    background-color: transparent;
}