
 .notification_header{
    height: 55px;
    background-color: #FFFFFF; 
    box-shadow: 2px 2px 8px  #00000054  ;

 }
 
.rs-btn-toolbar{
    display: flex;
    justify-content: center;
}
.notification_container{
    height: 70px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    border-radius: 12px;
}
    


.notification_cover{

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.notification_block{
    height:100%;
    width: 325px;
    margin: auto;
    display: flex;
    align-content: space-between;
    flex-flow: column;

   
    
}

#notification_collapse{
    background-color: transparent;
}

.notification_image{
    max-height: 50%;
    width: 50%;

}
.notification_symbol_area{
    height: 100%;
    border-radius: 0 12px 12px 0;
    width: 15%;

}
.notification_symbol{
  margin: auto;
  max-height: 50%;
  max-width: 50%;

}
.center_items{
    display: flex;
    align-items: center;

}
.notification_item_name{
    width:15%;
    overflow: hidden;
}

.left_notification_area{
    width: 20%;
    flex-direction: column;
    font-size: x-small;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.notification_weight{
    height: 30px;
    width: 15%;
    border-radius: 7pt;
    border: black 2px groove;
    display: flex;
    justify-content: center;
}
#first_notification{
    height: 100%;
}
.notification_message{
    width:30%;
    text-align: center;
    justify-content: center;


}
.main_info_container{
    display: flex;
    width: 100%;
    height: 80%;
    flex-flow: column;
    margin: auto;
    margin-top: 2px;
    justify-content: space-around;
}
.notification_category_container{
    margin-top: 3px;
    width: 100%;
}

.filter_btn .active{
    background: tomato;
}