.modal {
    background-color: whitesmoke;
    /* display: flex; */
    margin: auto;
    flex-direction: column;
    border: 2px solid greenyellow;
    border-radius: 5%;
    width: fit-content;
    height: fit-content;
    padding: 0;
}

/* .fade.in {
    opacity: 0.5;
} */

.scan_btns_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    /* border: 3px solid red; */
    border-radius: 5pt;
    height: 100px;
}

.filters_area {
    display: flex;
    justify-content: space-evenly;
    margin-top:15px ;
}

.barcode_scan_area {
    margin-top: 30px;
    margin-bottom: 30px;
}

.add_container_area{
    display: flex;
    flex-direction: column;
}

.rs-modal-content{
    display: flex;
    flex-direction: column;
}
