.modal{
    background-color: whitesmoke;
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 2px solid greenyellow;
    border-radius: 5%;
    width: 100%;
    height:auto;
    padding: 0;
}

.fade.in{
    opacity: 0.5;
}

.scan_btns_filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border: 3px solid red;
    border-radius: 5pt;
}

.filters_area{
    display: flex;
    justify-content: space-evenly;
}