#inventory_page {
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.inventory_page_container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 15%;
    flex-direction: column;
}

.page_title {
    text-align: center;
    font: normal normal normal 20px/30px Poppins;
    letter-spacing: 0px;
    color: #211F1F;
    margin-top: 17px;
}

.rs-modal-wrapper {
    display: flex;
    align-items: center;
}

.rs-input-number-btn-group-vertical {
    display: none;
}

/* .rs-modal-xs {
     display: block;
     margin-top: -30%;
 } */

.rs-modal-body {
    width: 100%;
    margin: auto;
    padding: 10px;
}

/* .rs-modal-content {
    background-color: whitesmoke;
    display: flex;
    margin: auto;
    flex-direction: column;
    border: 2px solid greenyellow;
    border-radius: 5%;
    width: 50%;
    height: 230px;
    padding: 0;
} */

.model_content_xs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.model_item_name {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    font: normal normal 600 24px/28px Poppins;
}

.model_x_xs {
    position: absolute;
    top: 3%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2%;
    height: 19px;
    width: 19px;
    float: right;
}

.model_title_xs {
    text-align: center;
    font-size: 20px;
    font: normal normal normal 20px/30px Poppins;
}

.add_to_order_btn {
    color: white;
    height: 30px;
    border-radius: 5px;
    width: 65%;
    background: 0% 0% no-repeat padding-box;
}

.model_footer_xs {
    text-align: center;
}

.quantity_container {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.quantity_window {
    width: 71px;
    height: 30px;
    border: red 1px solid;
    border-radius: 5px;
    letter-spacing: 0px;
    color: #3B3939;
    font-weight: bolder;
}

.quantity_select {
    cursor: pointer;
    color: #FD4141;
    font-size: 37px;
    font-weight: bolder;
}

.cart_photo_container {
    margin: auto;
    width: 35px;
    height: 35px;
}

.cart_text_container {
    margin: auto;
}

.add_to_order_modal {
    width: 50%;
    margin: auto;
}

.add_to_order_text_btn{
    margin-top: 15px;
}