.dropdown {
    cursor: pointer;
}

.dropdown__content {
    display: none;
    cursor: pointer;
}

.dropdown--active .dropdown__content {
    
    display: flex;
   flex-wrap: wrap;
    margin-top: 0;
    cursor: pointer;
    padding: 1vh;
    justify-content: center;
    /* width: 100%; */
}

#globus {
    height: 40px;
    width: 40px;
    /* margin: auto; */

}



#languages {
    width:100%;
    cursor: pointer;
    justify-content: space-evenly;
    /* margin-top: 0%; */

    
}

#chosen {
    border-color: royalblue;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 10px royalblue;
    color: white;
}

ul {
    margin-top: 0px;
    padding: 0px;
    list-style-type: none;
}

.langButtons {
    cursor: pointer;
    width: 100px;
    padding: 5px;
    background-color: rgb(165, 4, 165);
    color: #adb5bd;
    font-weight: bold;
    border-radius: 13%;
    margin-bottom: 2%;
}
#currentLangDisplay{
    font-size:20px;
    font-weight:bold ;
    margin: auto;
    
}
#displayAndGlobe{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}