body {
  /* margin: 0;
  padding: 0;
  font: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  height: 100%;
  width: 100%;
  margin: auto;
  min-height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.445);
}

#root{
  max-width: 450px;
  width: 100%;
  margin: auto;
  display: flex;
  height: 100%;
  background-color: white;
}

code {
    font-family: Poppins;
}

html{
  height:100%;
  min-height: 100%;
}
